@media only screen and (min-width: $small) and (max-width: $medium) {
    .top_header_area{
      .mobile_bars{
        display: block;
        position: absolute;
        right: 10px;
        i{
          color: $whiteColor;
          font-size: 25px;
          cursor: pointer;
        }
      } 
      .inner{
        display: block;
        top: 0;
      }
      .address,.phone_number,.email_address{
        display: none;
      }    
      .socila_area{
        ul{
          text-align: center;
        }
      }
      
    }
    #header_area{
    .main_header{
      .inner{
        display: block;
        top: 0;
      }
      .logo_area{
        width: 200px;
        margin: 0 auto;
      }
    }
    }

    #hero_area{
      .inner{
        flex-direction: column;
      }
      .admin_info{
        flex-basis: 100%;
        padding: 20px;
        order: 2;
      }
      .admin_image{
        flex-basis: 100%;
        order: 1;
      }
    }

    #about_area{
      .inner{
        flex-direction: column;
      }
      .about_numbers{
        .child_about{
          h4{
            font-size: 20px;
          }
          h6{
            font-size: 14px;
          }
        }
      }
      .about_info{
        padding: 20px;
        h3{
          font-size: 25px;
        }
        h6{
          font-size: 15px;
        }
      }
    }
    
    #service_area{
      .inner{
        flex-direction: column;
      }
      .child_service{
        margin-bottom:25px ;
        padding: 20px;
        i{
          margin-bottom: 10px;
        }
        h4{
          font-size: 22px;
          margin-bottom:10px ;
        }
        p{
          font-size: 14px;
        }
      }
    }
    
    #blog_area{
      .inner{
        flex-direction: column;
      }
      .child_blog{
        margin-bottom: 25px;
      }
    }

    #contract_area{
      .inner,.contract_info{
        flex-direction: column;
      }
      .contract_info{
        div{
          padding: 20px;
        margin-bottom: 20px;
        }
        iframe{
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

